// font-family: 'Padauk', sans-serif;
// font-family: 'Inter', sans-serif;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

div.App { overflow: hidden; }

body {
   background: rgb(230, 230, 230);
   min-height: 100vh;
   width: 100vw;
   font-family: 'Inter', sans-serif;
   overflow-x: hidden;

   &::-webkit-scrollbar {
      width: 4px;
      background-color: rgb(255, 255, 255);
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: cornflowerblue;
   }
}

/*

@media (max-width:768px) {

}

*/