// font-family: 'Padauk', sans-serif;
// font-family: 'Inter', sans-serif;
@import './config';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

// div.App { overflow-x: hidden; }

aside.scrolltop {
   position: fixed;
   width: 30px;
   height: 30px;
   right: 10px;
   bottom: 10px;
   background: orangered;
   color: white;
   @include flex-c-c;
   cursor: pointer;
   opacity: 0;
   pointer-events: none;
   transition: .3s;

   svg { width: 60%; height: 60%; transition: .3s; }

   &:hover svg { height: 80%; width: 80%; color:aquamarine; }
}

body {
   background: rgb(230, 230, 230);
   min-height: 100vh;
   width: 100vw;
   font-family: 'Inter', sans-serif;
   overflow-x: hidden;

   &::-webkit-scrollbar {
      width: 4px;
      background-color: rgb(255, 255, 255);
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: cornflowerblue;
   }
}

@media (max-width:480px) {
   div.App { overflow-x: hidden; }
}

/*

@media (max-width:768px) {

}

*/