@import '../../config';

nav.layout-nav-categories {
   border: 1px solid orange; 
   border-width: 1px 0 1px 0;

   ul {
      list-style: none;
      display: flex;
      background: rgb(248, 248, 248);

      li.outer-li {
         width: 12.5%;
         padding: clamp(.8rem, 4vw, 1rem) 0;
         background: rgb(248, 248, 248);
         @include flex-c-c;
         cursor: pointer;
         transition: .2s;
         position: relative;
         font-size: clamp(.9rem, 1.5vw, 1rem);

         p {
            pointer-events: none;
            font-family: 'Padauk', sans-serif;
            @include flex-c-c;

            svg {
               transition: .2s;
            }
         }

         &:hover {
            background: orange !important;
         }

         article.hidden-list {
            position: absolute;
            top: 100%;
            left: 0;
            width: clamp(600px, 70vw, 800px);
            width: 800px;
            max-width: 100vw;
            border: 2px solid orange;
            border-radius: 0 0 .2em .2em; 
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: .2s;
            display: flex;
            background-color: #ffffff;
            background-image: linear-gradient(315deg, #ffffff 0%, #e8ecf0 74%);
            z-index: 999;
            justify-content: space-around;

            ol {
               padding: 2em 0;
               list-style: none;
               width: 33%;
               padding: 2em 1em;

               &:not(:last-child) { border-right: 1px solid #30303019; }

               li {
                  font-weight: 600;
                  color: #303030;
                  margin-bottom: 3em;
                  display: flex;
                  font-size: clamp(.9rem, 3vw, 1.1rem);
                  align-items: center;
                  justify-content: space-between;
                  transition: .3s;
                  width: max-content;
                  font-family: 'Padauk', sans-serif;
                  width: 100%;

                  svg { margin-right: .5em; width: 20px; height: 20px; }

                  &:last-child { margin: 0; }

                  &:hover {
                     color: royalblue;
                     transform: scale(.9);
                  }
               }
            }
         }
      }
   }
}

@media (max-width:768px) {
   nav.layout-nav-categories {
      ul {
         flex-wrap: wrap;

         li.outer-li {
            width: 50%;
         }
      }
   }
}

@media (max-width:480px) {
   nav.layout-nav-categories {
      ul {
         li.outer-li {
            article.hidden-list {
               flex-direction: column;

               ol {
                  width: 100%;

                  li {
                     justify-content: flex-start;
                     width: 100%;
                     font-size: .95rem;
                  }
               }
            }
         }
      }
   }
}