@import '../../config';

.product-category {
   height: clamp(400px, 65vw, 600px);
   @include flex-c-c;

   article {
      width: 95%; 
      height: 80%;
      background: rgb(213, 213, 213);
      padding: .5em 1em;
      border-radius: .5em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
         display: flex;
         align-items: center;
         font-weight: 700;
         text-transform: uppercase;
         font-size: .85rem;

         span {     
            margin-left: 1em;
            font-weight: 700;
            color: orangered;
            cursor: pointer;
            position: relative;
            transition: .3s;

            &::before {
               content: '';
               width: 100%;
               position: absolute;
               height: 2px;
               background: orange;
               left: 50%;
               top: 100%;
               transform: translateX(-50%) scaleX(0);
               transition: .3s;
            }

            &:hover {
               color: orange;

               &::before {
                  transform: translateX(-50%) scaleX(1);
               }
            }
         }
      }

      section.container-card {
         height: 90%;
         display: flex;

         section.cards {
            width: 90%;
            border: 1px solid black;
            border-radius: .2em;
            padding: 1em;   
            overflow: hidden;

            div {
               width: 100%;
               height: 100%;
               display: flex;
               transition: .3s;
            }
         }

         div.card-arrow {
            width: 5%;
            @include flex-c-c;
            cursor: pointer;
            transition: .3s;
            z-index: 99;

            &:hover {
               background: #892be265;

               svg { transform: scale(1.5); }
            }

            svg {
               width: 50px;
               height: 50px;
               transition: .3s;
               pointer-events: none;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .product-category {
      article {
         width: 100%;
         padding: .5em 0;

         h1 { margin-left: 2em; }
      }
   }
}

@media (max-width: 480px) {
   .product-category {
      article {
         section.container-card {
            div.card-arrow {
               width: 10%;
            }
         }
      }
   }
}