@import '../../config';

section.product {
   height: 100%;
   width: clamp(160px, 25vw, 235px);
   border: 1px solid royalblue;
   border-radius: .2em;
   margin-right: 1em;
   flex-shrink: 0;
   padding: .5em;
   @include flex-sb-c;
   flex-direction: column;
   background: rgb(235, 235, 235);
   position: relative;

   h2 {
      text-align: center;
      font-size: clamp(.9rem, 2vw, 1.3rem);
      height:16%;
      width: 100%;
      font-weight: 500;
   }

   h6 {
      font-weight: 400;
      text-transform: uppercase;
      color: #303030;
   }

   section {
      @include flex-c-c;
      width: 100%;

      h3.price, h4.price {
         @include flex-c-c;
         font-weight: 500;
         font-size: clamp(.9rem, 3vw, 1.5rem);
      }

      h3.price { color: rgb(0, 195, 0); }

      h4.price { 
         color: orangered;
         position: relative;
         margin-left: 1em;

         &::before {
            @include discountLine(120%);
         }
      }
   }

   button {
      padding: .5em 0;
      width: 40%;
      min-width: 80px;
      display: block;
      margin: 0 auto;
      border: 1px solid royalblue;
      background: royalblue;
      color: white;
      border-radius: .2em;
      cursor: pointer;
      transition: .3s;

      &:hover {
         background: coral;
         border-color: coral;
         transform: scale(1.2);
      }

      label { font-weight: 700; text-transform: uppercase; font-size: clamp(.8rem, 1.5vw, .9rem); }
   }

   figure {
      height: 50%;
      overflow: hidden;
      width: 100%;
      position: relative;

      img {
         height: 100%;
         @include abs-50-50;
      }
   }
}